<%= form_for([micropost, Comment.new]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
   <div>
     <%= f.text_area :content %>
   </div>
    <button type="submit">
      Create
    </button>
 <% end %>